.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width: 800px) {
    width: 340px;
    margin-left: 10px;

    .buttons {
      display: grid;
      grid-template-columns: 1fr;
      margin-left: 70px;
      margin-bottom: 20px;
      width: 200px;
    }
  }
}
